* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 5rem;
  height: 5rem;
  background: rgba(1, 107, 180, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

nav .nav__links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

nav .nav__links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.4rem;
}

section {
  background-image: linear-gradient(to right bottom,
      rgba(1, 107, 180, 0.6),
      rgba(1, 107, 180, 0.6)),
    url("../src//img/12.jpg");
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-columns: 1fr 8fr 8fr;
}

.section__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 25rem;
  justify-content: center;
}

.section__header h1 {
  color: #fff;
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  position: fixed;
  display: inline-block;
}

.summary {
  font-size: 1.5rem;
  padding: 3rem 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  vertical-align: baseline;
}

.summary h2 {
  padding: 5rem 0 2rem 0;
}

.profile__pic {
  background-color: rgb(24, 158, 84);
  height: 50px;
  width: 100%;
}

.profile__data {
  background-color: rgb(206, 73, 73);
  width: 100%;
}

.fixed {
  top: 9%;
  display: inline;
  display: flex;
  flex-direction: row;

}

.img {
  max-width: 5rem;

}

.new {
  height: 100vh;
  width: 45%;
  position: fixed;
  top: 8%;
  right: 0;
  display: grid;
  grid-template-columns: 45% 50%;
}

.right__data {
  background-color: #fff;
}

.right__pic {
  display: grid;
  grid-template-rows: 40% auto;

}

.profile__image img {
  height: 100%;
  width: 100%;
}

.profile__education {
  background-color: #abcb4c;
  padding: 2rem 2rem;

}

.field-label {
  font-size: 2rem;
}

.profile__education ul {
  padding-top: 2rem;
  font-size: 1.5rem;
  padding: 2rem 2rem;

}

.profile__education ul li {
  padding: 1.2rem 0;
}

.details {
  padding: 2rem;
  color: #000;
  font-size: 1.5rem;
  list-style: none;


}

.details li hr,
.details li a {
  margin: 1.5rem 0;
  text-decoration: none;
}

.footer__about {
  padding: 1rem 0;
}

.footer__about ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__about ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-right: 2rem;
}

.social {
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  height: 5rem;
  width: 5rem;
  margin: 1.4rem 2rem;
}

.social img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  filter: brightness(0) invert(1);
}

@media only screen and (max-width: 700px) {
  .section {
    display: flex;
    flex-direction: column;
  }

  .profile {
    display: none;
  }

  .new {
    display: flex;
    flex-direction: column;
  }

  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .new{
   position: relative;
    display: flex;
    flex-direction: row;
  }
  section{
    display: grid;
    grid-template-columns: auto;
  }
  .section__header{
    display: none;
  }
  .summary{
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 350px) {
  .new{
    display: flex;
    flex-direction: column;
  }
}